<head><script src="https://kit.fontawesome.com/435d25d787.js" crossorigin="anonymous"></script></head>
<div class="container">

<div class="content first-content">
    <div class="first-column">
    <h2 class="title">Bem-vindo(a) de volta!</h2>
    <p class="description">Faça login para continuar</p>
<button class="btn btn-primary" routerLink="/login">Login</button>
    </div><!-- Fim da primeira coluna -->
  
    
<div class="second-column">
    <h2 class="title">Cadastre-se</h2>
    <div class="social-midea">
    <ul class="list-social-media">
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#">Google</a></li>
        <li><a href="#">Twitter</a></li>
    </ul>
</div> <!-- Fim da social-midea -->
<p class="description">ou utilize o e-mail para se cadastrar</p>

<section class="login">

<form [formGroup]="formLogin">

<div class="nome">
<label class="form-label">Nome:</label>
<input type="text" formControlName="nome" placeholder="nome" />
@if (formLogin.get('nome')?.invalid && formLogin.get('nome')?.touched) {
  <span style="color: red;">o nome deve ter no mínimo 6 caracteres</span>
}
</div>

<div class="email">
<label class="form-label">E-mail:</label>
<input type="email" formControlName="email" placeholder="e-mail" />
@if (formLogin.get('email')?.invalid && formLogin.get('email')?.touched) {
  <span style="color: red;">o e-mail é obrigatório</span>
}
</div>

<div class="senha">
<label class="form-label">Senha:</label>
<input type="password" formControlName="senha" placeholder="senha" />
@if (formLogin.get('senha')?.invalid && formLogin.get('senha')?.touched) {
<span style="color: red;">a senha é obrigatória e deve ter no mínimo 6 caracteres</span>}
</div>

<button class="btn" type="button" [disabled]="!formLogin.valid">Cadastre-se</button>
</form>
</section>
</div> <!-- Fim da segunda coluna --> 
</div> <!-- fim do first-content-->

<div class="content second-content">

<div class="first-column">
    <h2 class="title">Bem-vindo(a) ou hello friend!</h2>
    <p class="description">comece sua jornada conosco</p>
<button class="btn" routerLink="/login">cadastre-se</button>
    </div><!-- Fim da primeira coluna -->
    
    
<div class="second-column">
    <h1 class="title">Login</h1>
    <h3 class="title">Iniciar sessão</h3>
    <div class="social-midea">
    <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Google</a></li>
        <li><a href="#">Twitter</a></li>
    </ul>
</div> <!-- Fim da social-midea -->
<p class="description">ou utilize o e-mail para entrar</p>

<section class="login">

<form [formGroup]="formLogin">

<div class="email">
<label class="form-label">E-mail:</label>
<input type="email" formControlName="email" placeholder="e-mail" />
@if (formLogin.get('email')?.invalid && formLogin.get('email')?.touched) {
  <span style="color: red;">o e-mail é obrigatório</span>
}
</div>

<div class="senha">
<label class="form-label">Senha:</label>
<input type="password" formControlName="senha" placeholder="senha" />
@if (formLogin.get('senha')?.invalid && formLogin.get('senha')?.touched) {
<span style="color: red;">a senha é obrigatória e deve ter no mínimo 6 caracteres</span>}
</div>
<a href="#" class="forgot-password">Esqueceu a senha?</a>

<button class="btn" type="button" [disabled]="!formLogin.valid">Entrar</button>
</form>
</section>
</div> <!-- Fim da segunda coluna -->
</div> <!-- Fim do second-content-->


</div> <!-- Fim do container -->
