/* You can add global styles to this file, and also import other style files */
app-root{
    background:#6d9f86;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}
